body {
  font-family: "Lato", sans-serif;
  margin: 0;
  background-color: #f7f7f7;
}

.header {
  background-color: #222222;
  height: 288px;
  padding: 16px 0 0 0;
}

.header-emoji {
  font-size: 48px;
  margin: 0 auto;
  text-align: center;
}

.header-title {
  color: #ffffff;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
}

.header-description {
  color: #cfcfcf;
  margin: 4px auto;
  text-align: center;
  max-width: 384px;
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 1024px;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 32px;
}

.card {
  margin-bottom: 24px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.menu {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  margin: -120px auto 0 auto;
}

.menu-option {
  width: 35%;
  padding-top: 10px;
  padding-bottom: 24px;
  height: 160px;
  border-radius: 12px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

input[type="text"] {
  width: 40%;
  padding: 4px 8px;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px 0 0 8px;
  -webkit-appearance: none;
  color: #999c99;
  border: 1px solid #ced1ce;
  background: #fff;
  transition: border 0.3s ease;
}

input[type="text"]::placeholder {
  color: #cbd1dc;
}

input[type="text"]:focus {
  outline: none;
  border-color: #abadab;
}

.form-style > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-choose {
  white-space: nowrap;
  margin-left: -3px;
  text-align: center;
  font-size: 14px;
  line-height: 25px;
  /* width: 70%; */
  padding: 4px 8px;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 0 8px 8px 0;
  -webkit-appearance: none;
  color: #fff;
  border: 1px solid #222222;
  background: #222222;
  transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
}

input[type="file"] {
  display: none;
}

.btn-submit {
  white-space: nowrap;
  margin-left: -3px;
  margin-top: 14px;
  text-align: center;
  font-size: 14px;
  line-height: 25px;
  width: 70%;
  padding: 10px 16px;
  line-height: 25px;
  font-size: 28px;
  font-weight: 500;
  cursor: pointer;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  color: #fff;
  border: 1px solid #222222;
  background: #222222;
}

.menu-option > div > button:hover {
  border: 1px solid #404040;
  background: #404040;
}

#lock-modal {
  visibility: hidden;
  background-color: black;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
}

#loading {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: medium;
  font-weight: 500;
  color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#loading-circle {
  position: absolute;
  padding: 5px;
  width: 40px;
  height: 40px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 0.6s ease-in infinite;
}

#loading > h3 {
  margin-top: 150px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  margin: auto;
}

.output {
  width: 90%;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 44px;
  height: 350px;
  border-radius: 12px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.output > div > p {
  text-align: left;
  margin-left: 25%;
}

table {
  border: 0;
  align-items: center;
  text-align: center;
  margin-left: 25%;
}

thead {
  font-weight: bold;
  margin: 0;
}

thead > tr > th {
  color: white;
  background-color: #222222;
  padding: 8px;
}

tbody > tr > td {
  padding: 8px;
}

tbody > tr:nth-child(even) {
  background-color: white;
}
tbody > tr:nth-child(odd) {
  background-color: lightgray;
}
