<html>
  <head>
    <title>Item Details</title>
    <link
      href="{{ url_for('static', path='/css/style.css') }}"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/79b075e15b.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div id="app">
      <header>
        <div class="header">
          <p class="header-emoji">🐶</p>
          <h1 class="header-title">Canis Breed</h1>
          <p class="header-description">Recognition System of Dogs Breeds</p>
        </div>
      </header>
      <div class="menu">
        <div class="menu-option">
          <h2>Enroll a new breed</h2>
          <div>
            <form
              id="enroll-breed"
              method="POST"
              action="/api/v1/breed/enroll"
              enctype="multipart/form-data"
              class="form-style"
            >
              <div>
                <input
                  id="breed"
                  name="breed"
                  type="text"
                  placeholder="True Breed"
                  required
                />
                <div id="enroll-btn" class="btn-choose">
                  <label for="file-upload">
                    <input
                      id="enroll"
                      name="images"
                      class="hide-file"
                      type="file"
                      accept="image/*"
                      required
                      multiple
                    />
                    Choose Files
                  </label>
                </div>
              </div>
              <button id="breed-enroll" type="submit" class="btn-submit">
                <i class="fas fa-cloud-upload-alt fa-xs"></i> Submit
              </button>
            </form>
          </div>
        </div>
        <div class="menu-option">
          <h2>Predict Breed</h2>
          <div>
            <form
              id="predict-breed"
              method="POST"
              action="/api/v1/breed/predict"
              enctype="multipart/form-data"
              class="form-style"
            >
              <div>
                <input
                  id="breed"
                  name="breed"
                  type="text"
                  placeholder="True Breed"
                  required
                />
                <div id="predict-btn" class="btn-choose">
                  <label for="file-upload">
                    <input
                      id="predict"
                      name="image"
                      class="hide-file"
                      type="file"
                      accept="image/*"
                      required
                    />
                    Choose File
                  </label>
                </div>
              </div>
              <button id="breed-predict" type="submit" class="btn-submit">
                <i class="fas fa-cloud-upload-alt fa-xs"></i> Submit
              </button>
            </form>
          </div>
        </div>
      </div>
      <div class="wrapper">
        <div id="ouput" class="output">
          <h2>Results</h2>
          <div id="content"></div>
        </div>
      </div>
    </div>
    <div id="lock-modal"></div>
    <div id="loading">
      <div id="loading-circle"></div>
      <h3>Uploading image for prediction</h3>
    </div>
    <script src="{{ url_for('static', path='/js/main.js') }}"></script>
  </body>
</html>
